{% extends 'movie_hub/base.html' %}
{% load static %}
{% load thumbnail %}

{% block header-includes %}
<link rel="stylesheet" href="{% static 'movie_hub/css/common.css' %}">
<link rel="stylesheet" href="{% static 'movie_hub/css/homepage.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <!-- Featured Movies Carousel -->
    <div id="moviesCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
        <div class="carousel-indicators">
            {% for _ in featured_movies %}
            <button type="button" data-bs-target="#moviesCarousel" data-bs-slide-to="{{forloop.counter0}}"
                aria-label="Movie {{forloop.counter}}" {% if forloop.first %} class="active" aria-current="true"
                {%endif%}>
            </button>
            {% endfor %}
        </div>

        <div class="carousel-inner">
            {% for movie in featured_movies %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-bs-interval="100000">
                <div class="carousel-background d-block w-100"
                    style="background-image:url('{{movie.posterImage|thumbnail}}')">
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-12 d-flex">
                        <img src="{{movie.posterImage|thumbnail}}" alt="{{movie.title}}" style="height:60vh">
                    </div>
                    <div class="col-lg-6 col-md-12 d-flex">
                        <div class="card text-bg-dark carousel-card">
                            <div class="card-header hstack align-items-baseline">
                                <h5 class="card-title me-auto">{{movie.title}} ({{movie.year}})</h5>
                                <div class="hstack gap-1"><span class="star-full"></span>{{movie.imdb.rating}}</div>
                            </div>
                            <div class="card-body">
                                <div class="hstack gap-2 mb-2 flex-wrap">
                                    {% for genre in movie.genres %}
                                    <span class="badge rounded-pill text-bg-primary">{{genre}}</span>
                                    {% endfor %}
                                </div>
                                <p class="card-text">{{movie.summary}}</p>
                                <a href="/movie/{{movie.pk}}/{{movie.title|slugify}}" class="btn btn-primary">View
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#moviesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon shadow-lg bg-dark" style="--bs-bg-opacity: 0.6"
                aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#moviesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon shadow-lg bg-dark" style="--bs-bg-opacity: 0.6"
                aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Movies -->
    <div class="hstack">
        <h1 class="fw-light me-auto">Latest Movies</h1>
        <a href="{% url 'movies_latest' %}" class="link-primary text-decoration-none">View All ></a>
    </div>
    <div class="row g-4 mb-5">
        {% for movie in latest_movies %}
        <div class="col-lg-2 col-md-3">
            {% include 'movie_hub/movie_thumbnail.html' %}
        </div>
        {% endfor %}
    </div>

    <div class="hstack">
        <h1 class="fw-light me-auto">Top Rated</h1>
        <a href="{% url 'movies_top' %}" class="link-primary text-decoration-none">View All ></a>
    </div>
    <div class="row g-4 pb-5 mb-5">
        {% for movie in top_movies %}
        <div class="col-lg-2 col-md-3">
            {% include 'movie_hub/movie_thumbnail.html' %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'movie_hub/js/movie_popovers.js' %}"></script>
{% endblock %}
