<nav class="navbar navbar-expand-md bg-gradient" style="background:#2dc1b3" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="/">Movie Hub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <div class="navbar-nav">
                <a class="nav-link" href="{% url 'movies_latest' %}">Latest</a>
                <a class="nav-link" href="{% url 'movies_top' %}">Top Rated</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Genre
                    </a>
                    <div class="dropdown-menu">
                        <ul class="list-unstyled d-flex flex-wrap row-cols-3"
                            style="min-width:calc(var(--bs-dropdown-min-width)*3)">
                            <li><a class="dropdown-item" href="/movies/genre/Action">Action</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Adventure">Adventure</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Animation">Animation</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Comedy">Comedy</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Crime">Crime</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Documentary">Documentary</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Drama">Drama</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Family">Family</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Fantasy">Fantasy</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/History">History</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Horror">Horror</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Music">Music</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Mystery">Mystery</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Romance">Romance</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Sci-Fi">Sci-Fi</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Thriller">Thriller</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/War">War</a></li>
                            <li><a class="dropdown-item" href="/movies/genre/Western">Western</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <form class="d-flex flex-fill mx-md-2 mx-lg-5" role="search" action="/movies/search">
                <div class="input-group">
                    <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search"
                        required>
                    <button class="btn btn-outline-dark" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg>
                    </button>
                </div>
            </form>

            {% if user.is_authenticated %}
            <div class="navbar-nav">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hstack gap-2 align-items-center py-0" href="#" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <div>{{user.username}}</div>
                        <div class="d-inline-flex text-bg-primary rounded align-items-center justify-content-center fs-4"
                            style="width: 2.5rem; height: 2.5rem">
                            {{user.username|first|upper}}
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">View Profile</a></li>
                        {% if user.is_superuser %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'admin-add-movies' %}">Add Movies</a></li>
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </div>
            </div>
            {% else %}
            <div class="navbar-nav mb-2 mb-lg-0">
                <a id="loginLink" class="nav-link" href="{% url 'login-with-redirect' request.path %}">Log In</a>
                <a id="signupLink" class="nav-link" href="{% url 'signup-with-redirect' request.path %}">Sign Up</a>
            </div>
            {% endif %}

        </div>
    </div>
</nav>
